<nav class="navbar navbar-inverse fixed-top navbar-toggleable-sm">

  <div class="navbar-brand--container" [@linkFade]="scrolled">
    <a class="navbar-brand" *ngIf="scrolled" href="#">
      <h4>Ryan Johnson</h4>
    </a>
  </div>

  <div [@staggerAnimation]="state">
    <ul class="navbar-nav hidden-sm-down mr-auto">
      <li class="nav-item" *ngIf="scrolled">
        <a class="nav-link" href="#">Developer</a>
      </li>
      <li class="nav-item" *ngIf="scrolled">
        <a class="nav-link" href="#">Designer</a>
      </li>
      <li class="nav-item" *ngIf="scrolled">
        <a class="nav-link" href="#">Musician</a>
      </li>
    </ul>
  </div>

</nav>