@import "~styles/variables";

.navbar {
    height: 60px;
    z-index: 9998;

    .navbar-brand--container {
        position: absolute;
        .navbar-brand {
            padding: 8px 0;
            h4 {
                margin: 0;
            }
        }
    }
    ul.navbar-nav {
        .nav-item {
            .nav-link {
                color: $background;
            }
        } 

    } 
}

.navbar-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(2, 18, 35, 1);
}