.card {
  background-color: transparent;
  border: none;
}
.card-header {
  background-color: transparent;
}
.card-title {
  margin-bottom: 0;
}
.about-container {
  margin-bottom: 2rem;
}

.about-section--self-portrait {
  margin: auto;
  border-radius: 50%;
  display: block;
  max-height: 280px;
}