<img src="./assets/img/denver_skyline.jpg" [@bgFade]="state" class="img-fluid hero-image" alt="Denver Skyline">

<div class="container title">

    <div class="hero-container" [@heroFade]="state">
        
        <h1 *ngIf="!scrolled">Ryan Johnson</h1>

    </div>


    <div class="details" [@staggerAnimation]="linkState">

            <h4 *ngIf="!linkScrolled">Developer</h4>
            <h4 *ngIf="!linkScrolled">Designer</h4>
            <h4 *ngIf="!linkScrolled">Musician</h4>
            
    </div>

</div>