// Colors
$primary-color: #003249;
$primary-color-light: #1B9AAA;
$primary-color-lighter: rgba(27, 154, 170, 0.6);
$primary-color-darker: rgba(2, 18, 35, 1);
$primary-color-dark: rgba(1, 22, 39, 1);
$secondary-color: #06D6A0;
$background: #FCFCFC;
$primary-text-light: #FCFCFC;