// Variable Import
@import '~styles/variables';

// Font Import
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
// @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

body {
  font-family: 'Raleway', sans-serif;
  background: $background;
  z-index: 5;
}

p {
  // font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.7em;
  color: $primary-color-dark;
}

a, 
a:hover, 
a:focus {
  letter-spacing: 1px;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}