<!--<div class="container">-->
    <div class="d-flex flex-row justify-content-center">
        <h2 class="skills-title" id="skills-section">My Skills</h2>
    </div>
    <hr><br>    
    <div class="d-flex flex-row flex-wrap justify-content-center devicon-group">
        <!--<h3 class="skills-category">Languages</h3>-->

        <i iconHighlight class="devicon devicon-angularjs-plain"></i>
        <i iconHighlight class="devicon devicon-bootstrap-plain"></i>
        <i iconHighlight class="devicon devicon-csharp-plain"></i>
        <i iconHighlight class="devicon devicon-css3-plain"></i>
        <!--<i iconHighlight class="devicon devicon-django-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-express-original"></i>-->
        <!--<i iconHighlight class="devicon devicon-git-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-gulp-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-heroku-original"></i>-->
        <!--<i iconHighlight class="devicon devicon-html5-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-java-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-jasmine-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-javascript-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-jquery-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-mocha-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-mongodb-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-nodejs-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-photoshop-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-protractor-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-postgresql-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-python-plain"></i>-->
        <!--<i iconHighlight class="devicon devicon-react-original"></i>-->
        <!--<i iconHighlight class="devicon devicon-sass-original"></i>-->
        <!--<i iconHighlight class="devicon devicon-typescript-plain"></i>-->
    </div>
    <hr><br>
<!--</div>-->