<div class="container about-container">
    <div class="row">
        <div class="card col-12 col-md-6 mx-auto">
            <div class="card-header">
                <h2 class="card-title">My Skills</h2>
            </div>
            <div class="card-block">

                <p class="card-text">Full Stack Developer, Game Development enthusiast, and aspiring UI/UX designer.
                  After living in Orlando, FL for most of my life, I recently relocated to Denver, CO where I could
                  pursue a career change from accounting. I’m very passionate about learning all things Front End Web Development 
                  and to pursue my love of the tech industry. My other hobbies when not coding include: producing electronic music, DJing, and watching movies.
                </p>
            </div>
        </div>
        <div class="card col-12 col-md-6 mx-auto">
          <div class="card-block">

            <p class="card-text">Full Stack Developer, Game Development enthusiast, and aspiring UI/UX designer.
              After living in Orlando, FL for most of my life, I recently relocated to Denver, CO where I could
              pursue a career change from accounting. I’m very passionate about learning all things Front End Web Development 
              and to pursue my love of the tech industry. My other hobbies when not coding include: producing electronic music, DJing, and watching movies.
            </p>
            
          </div>
        </div>
    </div>
</div>