<!--<div class="container">-->
    <div class="d-flex flex-row justify-content-center">
        <h2 class="skills-title" id="skills-section">My Skills</h2>
    </div>
    <hr><br>

    <!--<h3 class="skills-category">Languages</h3>-->


    <div class="container d-flex flex-row flex-wrap justify-content-center devicon-group">

        <i iconHighlight class="devicon primary devicon-angularjs-plain"></i>
        <i iconHighlight class="devicon primary devicon-bootstrap-plain"></i>
        <i iconHighlight class="devicon primary devicon-csharp-plain"></i>
        <i iconHighlight class="devicon primary devicon-css3-plain"></i>
        <i iconHighlight class="devicon primary devicon-django-plain"></i>
        <i iconHighlight class="devicon primary devicon-express-original"></i>
        <i iconHighlight class="devicon primary devicon-git-plain"></i>
        <i iconHighlight class="devicon primary devicon-gulp-plain"></i>
        <i iconHighlight class="devicon primary devicon-heroku-original"></i>
        <i iconHighlight class="devicon primary devicon-html5-plain"></i>
        <i iconHighlight class="devicon primary devicon-java-plain"></i>
        <i iconHighlight class="devicon primary devicon-jasmine-plain"></i>
        <i iconHighlight class="devicon primary devicon-javascript-plain"></i>
        <i iconHighlight class="devicon primary devicon-jquery-plain"></i>
        <i iconHighlight class="devicon primary devicon-mocha-plain"></i>
        <i iconHighlight class="devicon primary devicon-mongodb-plain"></i>
        <i iconHighlight class="devicon primary devicon-nodejs-plain"></i>
        <i iconHighlight class="devicon primary devicon-photoshop-plain"></i>
        <i iconHighlight class="devicon primary devicon-protractor-plain"></i>
        <i iconHighlight class="devicon primary devicon-postgresql-plain"></i>
        <i iconHighlight class="devicon primary devicon-python-plain"></i>
        <i iconHighlight class="devicon primary devicon-react-original"></i>
        <i iconHighlight class="devicon primary devicon-sass-original"></i>
        <i iconHighlight class="devicon primary devicon-typescript-plain"></i>
    </div>
    <hr><br>
<!--</div>-->