@import "~styles/variables";

#wrapper {
    display: block;
}

#content {
    z-index: 5;
    width: 100%;
}

.img-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 4em;

    .content-image {
        position: absolute;
        height: 200%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 3;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.2, 1);
    }
}