
<!-- Header -->
<app-header id="home"></app-header>
<!-- ./Header -->

<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- ./Sidebar -->

    <!-- Page Content -->
    <div id="content">

        <!-- Hero Section -->
        <app-hero></app-hero>

        <!-- About Me -->
        <app-about></app-about>


        <div class="img-container" id="skills-section">
            <img src="/assets/img/colorado-mountain.jpg" [style.top]="scrollTop + 'px'" class="img-fluid content-image" alt="">
        </div>

        <!-- Skills Section -->
        <app-skills></app-skills>
    </div>
    <!-- ./Page Content-->

</div>
