<!-- Sidebar -->
<nav id="sidebar" [class.active]="isActive">
  
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <!-- Sidebar Toggle -->
        <button 
            (click)="onActive()" 
            id="sidebarCollapse" 
            class="sidebar-btn" 
            [class.active]="isActive" 
            type="button">
                <span></span>
                <span></span>
                <span></span>
        </button>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled links">
        <li routerLinkOptions="active">
            <a href="#" (click)="onActive()">Home</a>
        </li>
        <li routerLinkOptions="active">
            <a href="#about-section" (click)="onActive()">About</a>
        </li>

        <li><!-- Link with dropdown items -->
            <a href="#portfolioSubmenu" data-toggle="collapse" aria-expanded="false">Portfolio</a>
            <ul class="collapse list-unstyled sidebar-submenu" id="portfolioSubmenu">
                <li>
                  <a href="#challenge-accepted" (click)="onActive()">Challenge Accepted</a>
                </li>
                <li>
                  <a href="#we-dj" (click)="onActive()">WeDJ</a>
                </li>
                <li>
                  <a href="#tower-defense" (click)="onActive()">Tower Defense</a>
                </li>
                <li>
                  <a href="#trivia-game" (click)="onActive()">Trivia Game</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#music-section" (click)="onActive()">Music</a>
        </li>
        <li>
            <a href="#contact-section" (click)="onActive()">Contact</a>
        </li>
    </ul>
</nav>
<!-- ./Sidebar -->

<!-- Overlay -->
<div id="overlay" (click)="isActive ? isActive = !isActive : isActive" [class.active]="isActive"></div>