@import "~styles/variables";

// Sidebar
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    min-width: 300px;
    max-width: 300px;
    margin-right: -300px;
    height: 100vh;
    background: rgba(2, 18, 35, .4);
    color: $primary-text-light;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);



    .sidebar-header {
        height: 54px;
    }

    ul.links {
        z-index: 9999;
        padding: 0 0 20px;
    }

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    ul li a:hover {
        color: $primary-color-light;
        background: $primary-color;
    }
}

#sidebar ul li.active > a,
a[aria-expanded="true"]  {
    color: $primary-text-light;
    background: $primary-color;
}

#sidebar.active {
    backdrop-filter: blur(3px);
    margin-right: 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, 
a[aria-expanded="true"]::before {
    content: '\f078';
    display: block;
    position: absolute;
    right: 20px;
    top: 12px;
    font-family: 'FontAwesome';
    font-size: 0.7em;
}

a[aria-expanded="true"]::before {
    content: '\f077';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $primary-color-darker;
}


// Sidebar Toggle
#sidebarCollapse {
    border: none;
    width: 44px;
    height: 44px;
    background: transparent;
    outline: none;
    position: fixed;
    top: 8px;
    right: 16px;
}
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 5px auto;
    display: block;
    opacity: 1;
    transform: none;
    background: $background;
    transition: all 0.65s cubic-bezier(0.810, -.330, 0.345, 1.375);
}

// Toggle Animations
#sidebarCollapse.active {
    span {
        background: $background;
        opacity: 1;
        margin: 0 auto;
    }
    span:first-of-type {
        transform: rotate(405deg) translate(2px, 2px);
    }
    span:nth-of-type(2) {
        opacity: 0;
    }
    span:last-of-type {
        transform: rotate(-405deg) translate(1px, -1px);
    }
}


// Media Queries
@media (max-width: 768px) {
  
    // #sidebar {
    //     margin-right: 0;
    // }
    // #sidebar.active {
    //     margin-right: -300px;
    //     transform: none;
    // }

}


#overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    z-index: 9996;
}
#overlay.active {
    display: block;
    opacity: 1;
}